# Editors
.vscode

# Grunt
/node_modules/
npm-debug.log

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# Various file types to ignore when exporting.
coverage
run.*
index.js
.gitconfig
*.zip
*.json
*.yml